@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #AC6CFF;
    --secondary-color: #2D2D2D;
    --secondary2-color: #2F1C48;
    --text1-color: #F8F9FF;
    --mainfont: "Poppins", sans-serif;
}


* {
    margin: 0;
    padding: 0;
}

.section1 {
    background-color: var(--secondary-color);
    font-family: var(--mainfont);
    padding: 26px 70px;
    border-bottom: 1px solid var(--primary-color);
}

.section1 header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section1 header nav ul {
    gap: 50px;
    display: flex;
}

.section1 header nav ul a {
    color: var(--text1-color);
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    transition: all 0.2s ease-in-out;
}

header nav a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: var(--primary-color);
    bottom: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
}

header nav a:hover::after {
    width: 100%;

}

header a:hover {
    color: var(--primary-color);
}

.section1 header .signbtn {
    display: flex;
    align-items: center;
    gap: 30px;
}

.section1 header .signbtn a {
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

}

.section1 header .signbtn a:hover {
    color: #8d42ee;
}

.section1 header .signbtn button {
    background-color: var(--primary-color);
    color: var(--text1-color);
    font-size: 16px;
    font-weight: 600;
    border-radius: 15px;
    border: var(--primary-color);
    width: 100px;
    height: 48px;
    transition: all 0.3s ease-in-out;
}

.section1 header .signbtn button:hover {
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.section2 {
    background-color: var(--secondary-color);
    font-family: var(--mainfont);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 70px;
    gap: 40px;
    position: relative;
}

.sec2right {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.section2 h1 {
    color: var(--text1-color);
    font-size: 60px;
    font-weight: 700;
    letter-spacing: -2.5;
    line-height: 130%;

}

.section2 h1 span {
    color: var(--primary-color);
}

.section2 h5 {
    color: var(--text1-color);
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0%;
    line-height: 150%;
}

#sec2btn {
    display: flex;
    gap: 19px;

}

.section2 button {
    font-size: 16px;
    font-weight: 600;
    padding: 25px 50px;
    border-radius: 20px;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--text1-color);
    transition: all 0.3s ease-in-out;
}

.section2 button:hover {
    background-color: var(--text1-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.section2 .star-dot{
    /* position: absolute;
    top: 10px;
    left: 37px;
top: 78px; */
    
}

.section2 #dot-1st{
    position: absolute;
left: 37px;
top: 125px;
}

.section2 #dot-2nd{
    position: absolute;
    top: 23px;
    right: 631px;
}

.section2 #dot-3rd{
        position: absolute;
    top: 37px;
    right: 100px;
}

.section2 #dot-4th{
    position: absolute;
    left: 32px;
    bottom: 80px;
}

.section2 #dot-5th{
    position: absolute;
    left: 676px;
    bottom: 65px;
}

.section2 #dot-6th{
    position: absolute;
    right: 300px;
    bottom: 30px;
}

.section2 #star-1st{
    position: absolute;
    left: 400px;
    top: 290px;
}

.section2 #star-2nd{
    position: absolute;
    right: 75px;
    top: 100px;
}

.section2 #star-3rd{
    position: absolute;
    right: 570px;
    bottom: 140px;
}

.section3 {
    background-color: var(--primary-color);
    padding: 54px 70px;

}

.section3 h3 {
    color: var(--text1-color);
    text-align: center;
    padding-bottom: 40px;
    font-size: 24px;
    font-weight: 600;
    font-family: var(--mainfont);
}

.section3 .icons {
    display: flex;
    justify-content: space-around;

}

.section4 {
    background-color: var(--secondary2-color);
    padding: 100px 100px;
}

.section4 h2 {
    color: var(--text1-color);
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -1;
    text-align: center;
    font-family: var(--mainfont);
    padding-bottom: 20px;
}

.section4 h5 {
    color: var(--text1-color);
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    font-family: var(--mainfont);
    padding-bottom: 60px;
}

.section4 .cards {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.section4 .cards .card {
    background-color: var(--primary-color);
    font-family: var(--mainfont);
    width: 310px;
    height: 280px;
    /* padding: 60px 100px; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.section4 .cards .card img {
    width: 90px;
    height: 90px;
}

.section4 .cards .card h4 {
    color: var(--text1-color);
    text-align: center;
}

.section5 {
    background-color: var(--secondary-color);
    padding: 80px 100px;

}

.section5 h2 {
    color: var(--text1-color);
    font-family: var(--mainfont);
    font-size: 40px;
    font-weight: 600;

}

.section5 .main {
    padding-top: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section5 .main .secright h2 {
    color: var(--text1-color);
    font-family: var(--mainfont);
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -2%;
    line-height: 130%;
}

.section5 .main .secright h4 {
    font-family: var(--mainfont);
    color: var(--text1-color);
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0%;
    line-height: 140%;
    padding-top: 30px;
    padding-bottom: 60px;
}

.section5 .main .secright button {
    font-size: 16px;
    font-weight: 600;
    padding: 25px 50px;
    border-radius: 20px;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--text1-color);
    transition: all 0.3s ease-in-out;
}

.section5 .main .secright button:hover {
    background-color: var(--text1-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.section6 {
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: var(--secondary2-color);

}

.section6 h2 {
    text-align: center;
    color: var(--text1-color);
    font-family: var(--mainfont);
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -1%;
}

.section6 .threeicons {
    padding: 70px 244px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.section6 .threeicons .iconss {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 10px; */
}

.section6 .threeicons h3 {
    padding-top: 15px;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    color: var(--text1-color);
    font-family: var(--mainfont);
    letter-spacing: -1%;
}

.section6 .threeicons p {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: var(--text1-color);
    font-family: var(--mainfont);
    letter-spacing: -1%;
}

.section7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 100px 0px;
    /* height: 200px; */
    background-color: var(--secondary-color);
}

.section7 h2 {
    color: var(--text1-color);
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    font-family: var(--mainfont);
}

.section7 .sec7cont {
    width: 857px;
    height: 390px;
    /* padding: 34px 81px; */
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.section7 .sec7cont h6 {
    padding-top: 15px;
    color: var(--text1-color);
    font-family: var(--mainfont);
    line-height: 150%;
    letter-spacing: 0%;
    font-size: 16px;
    font-weight: 700;
}

.section7 .sec7cont h5 {
    padding-top: 5px;
    color: var(--text1-color);
    font-family: var(--mainfont);
    line-height: 150%;
    letter-spacing: 0%;
    font-size: 16px;
    font-weight: 700;
}

.section7 .sec7cont h4 {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: var(--text1-color);
    font-family: var(--mainfont);
    line-height: 150%;
    letter-spacing: 0%;
}

.section8 {
    background-color: var(--primary-color);
    padding-top: 50px;

}

.section8 .sec8-heading h2 {
    padding-bottom: 20px;
    color: var(--text1-color);
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    font-family: var(--mainfont);
}

.section8 .sec8-heading h4 {
    color: var(--text1-color);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    font-family: var(--mainfont);
}

.sec8-cards {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 50px 235px;

}

.sec8-cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 10px; */
    border-radius: 30px;
    padding: 40px 25px;
    /* width: 309px;
    height: 379px; */
    background-color: var(--secondary2-color);
}

.sec8-cards .card h3 {
    color: var(--text1-color);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    font-family: var(--mainfont);
}

.sec8-cards .card h2 {
    padding-top: 10px;
    color: var(--primary-color);
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    font-family: var(--mainfont);
    letter-spacing: -2%;
}

.sec8-cards .card ul {
    /* padding-left: 30px; */
    padding-top: 10px;
    padding-left: 30px;
    color: var(--text1-color);
    /* list-style-position: inside; */
    /* text-align: center; */
    /* text-align: left; */
    font-size: 15px;
    font-weight: 400;
    font-family: var(--mainfont);
    letter-spacing: 0%;
    line-height: 150%;
}

.sec8-cards .card button {
    margin-top: 16px;
    color: var(--text1-color);
    font-size: 16px;
    padding: 12px 20px;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

.sec8-cards .card button:hover {
    background-color: var(--text1-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.section9 {
    background-color: var(--secondary2-color);
    font-family: var(--mainfont);
    padding-top: 120px;
    color: var(--text1-color);
    padding-left: 100px;
    padding-bottom: 35px;
    padding-right: 100px;
}

.section9 .sec9-cont1 button {
    font-size: 16px;
    font-weight: 600;
    padding: 25px 50px;
    border-radius: 20px;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--text1-color);
    transition: all 0.3s ease-in-out;
}

.section9 .sec9-cont1 button:hover {
    background-color: var(--text1-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}


.section9 .sec9-cont1 {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.section9 .sec9-cont2{
    padding-left: 10px;
    padding-top: 45px;
}

footer{
    font-family: var(--mainfont);
    background-color: var(--secondary-color);
    padding:75px 70px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 60px;
}

footer .logo-p .prag p{
    color: var(--text1-color);
    font-size: 18px;
    font-weight: 500px;
    padding-top: 25px;
}

footer .first-col{
    line-height: 50px
}

footer .first-col a{
    font-size: 25px;
    text-decoration: none;
    color: var(--primary-color);
}

footer .first-col p{
    color: var(--text1-color);
    font-size: 16px;
    font-weight: 600;
}

.third-col .img-p {
    padding-top: 15px;
    line-height: normal;
    color: var(--text1-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer .third-col a{
    font-size: 25px;
    text-decoration: none;
    color: var(--primary-color);
}

.third-col .img-p .box{
    display: flex;
    align-items: center;
    gap: 10px;
}

footer .third-col{
    padding-top: 10px;
}

.section10{
    background-color: var(--secondary-color);
    padding: 0px 70px;
}

.section10 .sec10-cont{
    font-family: var(--mainfont);
    font-size: 20px;
    font-weight: 500px;
    padding: 44px 0px;
    display: flex;
    justify-content: space-between;
    color: var(--text1-color);
}