@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #AC6CFF;
    --secondary-color: #2D2D2D;
    --secondary2-color:#2F1C48;
    --text1-color: #F8F9FF;
    --mainfont: "Poppins", sans-serif;
}


* {
    margin: 0;
    padding: 0;
}

.section1 {
    background-color: var(--secondary-color);
    font-family: var(--mainfont);
    padding: 26px 70px;
    border-bottom: 1px solid var(--primary-color);
}

.section1 header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section1 header nav ul {
    gap: 50px;
    display: flex;
}

.section1 header nav ul a {
    color: var(--text1-color);
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    transition: all 0.2s ease-in-out;
}

header nav a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: var(--primary-color);
    bottom: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
}

header nav a:hover::after {
    width: 100%;

}

header a:hover {
    color: var(--primary-color);
}

.section1 header .signbtn {
    display: flex;
    align-items: center;
    gap: 30px;
}

.section1 header .signbtn a {
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

}

.section1 header .signbtn a:hover {
    color: #8d42ee;
}

.section1 header .signbtn button {
    background-color: var(--primary-color);
    color: var(--text1-color);
    font-size: 16px;
    font-weight: 600;
    border-radius: 15px;
    border: var(--primary-color);
    width: 100px;
    height: 48px;
    transition: all 0.3s ease-in-out;
}

.section1 header .signbtn button:hover {
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.section2 {
    background-color: var(--secondary-color);
    font-family: var(--mainfont);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 70px;
    gap: 40px;
}

.sec2right {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.section2 h1 {
    color: var(--text1-color);
    font-size: 60px;
    font-weight: 700;
    letter-spacing: -2.5;
    line-height: 130%;

}

.section2 h1 span {
    color: var(--primary-color);
}

.section2 h5 {
    color: var(--text1-color);
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0%;
    line-height: 150%;
}

#sec2btn{
    display: flex;
    gap: 19px;

}

.section2 button{
    font-size: 16px;
    font-weight: 600;
    padding: 25px 50px;
    border-radius: 20px;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--text1-color);
    transition: all 0.3s ease-in-out;
}

.section2 button:hover{
background-color: var(--text1-color);
color: var(--primary-color);
border: 1px solid var(--primary-color);
}

.section3{
    background-color: var(--primary-color);
    padding: 54px 70px;

}

.section3 h3{
    color: var(--text1-color);
    text-align: center;
    padding-bottom: 40px;
    font-size: 24px;
    font-weight: 600;
    font-family: var(--mainfont);
}

.section3 .icons{
    display: flex;
    justify-content: space-around;
    
}

.section4{
    background-color: var(--secondary2-color);
    padding: 100px 100px;
}

.section4 h2{
    color: var(--text1-color);
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -1;
    text-align: center;
    font-family: var(--mainfont);
    padding-bottom: 20px;
}

.section4 h5{
    color: var(--text1-color);
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    font-family: var(--mainfont);
    padding-bottom: 60px;
}

.section4 .cards{
display: flex;
justify-content:space-between;
gap: 10px;
}

.section4 .cards .card{
    background-color: var(--primary-color);
    font-family: var(--mainfont);
    width: 310px;
    height: 280px;
    /* padding: 60px 100px; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.section4 .cards .card img{
width: 90px;
height: 90px;
}

.section4 .cards .card h4{
    color: var(--text1-color);
    text-align: center;
}

.section5{
    background-color: var(--secondary-color);
    padding: 80px 100px;

}

.section5 h2{
    color: var(--text1-color);
    font-family: var(--mainfont);
    font-size: 40px;
    font-weight: 600;
    
}

.section5 .main{
    padding-top: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section5 .main .secright h2{
    color: var(--text1-color);
    font-family: var(--mainfont);
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -2%;
    line-height: 130%;
}

.section5 .main .secright h4{
    font-family: var(--mainfont);
    color: var(--text1-color);
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0%;
    line-height: 140%;
    padding-top: 30px;
    padding-bottom: 60px;
}

.section5 .main .secright button{
    font-size: 16px;
    font-weight: 600;
    padding: 25px 50px;
    border-radius: 20px;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--text1-color);
    transition: all 0.3s ease-in-out;
}

.section5 .main .secright button:hover{
background-color: var(--text1-color);
color: var(--primary-color);
border: 1px solid var(--primary-color);
}

.section6{
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: var(--secondary2-color);
   
}

.section6 h2{
    text-align: center;
    color: var(--text1-color);
    font-family: var(--mainfont);
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -1%;
}

.section6 .threeicons{
    padding: 70px 244px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.section6 .threeicons .iconss{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 10px; */
}

.section6 .threeicons h3{
    padding-top: 15px;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
     color: var(--text1-color);
    font-family: var(--mainfont);
     letter-spacing: -1%;
}

.section6 .threeicons p{
  font-size: 20px;
    font-weight: 500;
    text-align: center;
     color: var(--text1-color);
    font-family: var(--mainfont);
     letter-spacing: -1%;
}

.section7{
    height: 200px;
    background-color: var(--secondary-color);
}